<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @lineitem.book.title %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @lineitem.quantity%>
</p>

<!-- <p>
  <strong>Cart:</strong>
  <%= @lineitem.cart_id %>
</p> -->
<%= link_to 'Continue to Cart', cart_path(@lineitem.cart_id), class: "btn btn-lg btn-success" %>
<%= link_to 'Continue Shopping', books_path, class: "btn btn-lg btn-primary" %>
