<%= form_for(@shipping_and_payment) do |f| %>
  <% if @shipping_and_payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipping_and_payment.errors.count, "error") %> prohibited this shipping_and_payment from being saved:</h2>

      <ul>
      <% @shipping_and_payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :payment_method %><br>
    <%= f.text_field :payment_method %>
  </div>
  <div class="field">
    <%= f.label :card_number %><br>
    <%= f.number_field :card_number %>
  </div>
  <div class="field">
    <%= f.label :ex_date %><br>
    <%= f.date_select :ex_date %>
  </div>
  <div class="field">
    <%= f.label :cvv %><br>
    <%= f.number_field :cvv %>
  </div>
  <div class="field">
    <%= f.label :shipping_address %><br>
    <%= f.text_field :shipping_address %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
