<p id="notice"><%= notice %></p>

<h1>Listing Shipping And Payments</h1>

<table>
  <thead>
    <tr>
      <th>Payment method</th>
      <th>Card number</th>
      <th>Ex date</th>
      <th>Cvv</th>
      <th>Shipping address</th>
      <th>Phone</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shipping_and_payments.each do |shipping_and_payment| %>
      <tr>
        <td><%= shipping_and_payment.payment_method %></td>
        <td><%= shipping_and_payment.card_number %></td>
        <td><%= shipping_and_payment.ex_date %></td>
        <td><%= shipping_and_payment.cvv %></td>
        <td><%= shipping_and_payment.shipping_address %></td>
        <td><%= shipping_and_payment.phone %></td>
        <td><%= shipping_and_payment.name %></td>
        <td><%= link_to 'Show', shipping_and_payment %></td>
        <td><%= link_to 'Edit', edit_shipping_and_payment_path(shipping_and_payment) %></td>
        <td><%= link_to 'Destroy', shipping_and_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shipping and payment', new_shipping_and_payment_path %>
