<p id="notice"><%= notice %></p>

<p>
  <strong>Payment method:</strong>
  <%= @shipping_and_payment.payment_method %>
</p>

<p>
  <strong>Card number:</strong>
  <%= @shipping_and_payment.card_number %>
</p>

<p>
  <strong>Ex date:</strong>
  <%= @shipping_and_payment.ex_date %>
</p>

<p>
  <strong>Cvv:</strong>
  <%= @shipping_and_payment.cvv %>
</p>

<p>
  <strong>Shipping address:</strong>
  <%= @shipping_and_payment.shipping_address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @shipping_and_payment.phone %>
</p>

<p>
  <strong>Name:</strong>
  <%= @shipping_and_payment.name %>
</p>

<%= link_to 'Edit', edit_shipping_and_payment_path(@shipping_and_payment) %> |
<%= link_to 'Back', shipping_and_payments_path %>
