<h2 align = "center ">BOOKS LIST</h2>

<% if signed_in? and @current_user.admin? %>
	<%= button_to 'Apply Discount', discount_path, method: :get, class: "btn btn-md btn-success" %>
<% end %>
<div class="row spacer">
		<% @books.each do |book| %>
			  <div class="col-sm-6 col-md-4">
				  <div class="thumbnail">
					<div id="contPic">
					  <%= image_tag book.image, :size => '242x200', class:"img-thumbnail" %>
				 	 </div>
				 	 <div class="caption">
						<h4 align="center"><%=  link_to book.title , book_path(book) %></h4>
						<p> Title: <%= book.title %></p>
						<p> Author: <%= book.author %></p>
						<p> price: <%= euro book.price %></p>
						<p> Category: # <%= book.category.name %></p>

						<div class=" well product-action">
							<% if signed_in? and @current_user.admin? %>
								<%= link_to 'Edit', edit_book_path(book), class: "btn btn-md btn-success" %>
								<%= link_to 'Delete ', book, method: :delete, data: {confirm: "Are you sure ? "},class: "btn btn-md btn-danger" %>
							<%end%>
							<% if signed_in? %>
								<%= link_to 'Add to cart', lineitems_path(book_id: book), class: "btn btn-md btn-primary ", method: :post %>
							<%end%>
					</div>
				</div>
			</div>
		</div>
	<%end%>
</div>
